.home {
	padding-top: 120px;
}

.hero-section {
	width: 100%;
    height: 90vh;
    padding-top: 95px !important;
	scroll-snap-align: start;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.hero-section .left,
.hero-section .right {
	flex: 1;
}

.hero-section .left .special-text {
	font-size: 76px;
	line-height: 140%;
	color: var(--special-text);
	font-family: var(--secondary-font-family);
}

.hero-section .left .paragraph {
	padding: 20px 0;
	line-height: 1.4;
}

.hero-section .right .image {
	position: relative;
    height: auto;
    top: auto;
    left: auto;
    z-index: -1;
	transition: 0.4s;
}

.hero-section .right .image img {
	max-width: 100%;
	height: 700px;
	display: block;
}

.hero-section .right .image .half-round-shape {
	position: absolute;
    left: 40%;
    bottom: 0%;
    background-color: var(--primary-color);
    width: 300px;
    height: 600px;
    z-index: -1;
	opacity: 0;
	transition: 0.4s;
}

.hero-section .right:hover .image {
	transform: translateX(-10%);
}

.hero-section .right:hover .half-round-shape {
	left: 65%;
	opacity: 1;
}

/* Extra */
.social-links {
	display: flex;
	flex-wrap: nowrap;
}

.social-links a {
	width: 50px;
	height: 50px;
	border-radius: 100%;
	border: 1px solid var(--special-text);
	color: var(--special-text);
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	background-color: var(--background-color);
}

.social-links a:nth-child(1) {
	left: 470px;
	top: 90px;
}

.social-links a:nth-child(2) {
	left: 585px;
	top: 188px;
}
.social-links a:nth-child(3) {
	left: 640px;
	top: 325px;
}
.social-links a:nth-child(4) {
	left: 620px;
	top: 480px;
}

.video-link {
	display: flex;
	padding-top: 50px;
	align-items: center;
}

.video-link span {
	padding-left: 20px;
}

.link a {
	width: 60px;
	height: 60px;
	border: 1px solid var(--special-text);
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: var(--box-shadow);
	animation: animate-ripple 3s infinite linear backwards;
	color: inherit;
}
@keyframes animate-ripple {
	50% {
		box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
	}
	100% {
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
	}
}

/* Extra */
/* services section styles start */
.services {
	padding: 60px 0;
}
.cards {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
}

.section__title {
	font-size: 62px;
	color: var(--special-text);
	font-family: var(--secondary-font-family);
}

/* services section styles end */

/* skills section starts */

.skill {
	width: 100%;
    height: 90vh;
    padding-top: 95px !important;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
	scroll-snap-align: start;
}

.skill .main-title {
	color: var(--special-text);
	font-size: 56px;
	font-family: var(--secondary-font-family);
}

.item-list {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 50px;
}

.item {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
}

.item.mobile {
	display: none;
    padding: 16px 20px;
    border-radius: 10px;
	background: rgba(0, 0, 0, 0.2);
    color: var(--text-color);
    box-shadow: var(--box-shadow);
	background-color: var(--background-color);
    /* box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4); */
}

.item.mobile .title {
	margin: 0px;
    font-size: 24px;
}

.item.mobile img {
	width: 72px;
	height: 72px;
}

.item.mobile .percent {
	font-size: 18px;
}

/* skills section ends */

/* courses section starts */

.courses {
	width: 100%;
    height: 90vh;
    padding-top: 95px !important;
	scroll-snap-align: start;
}

.courses .main-title {
	color: var(--special-text);
	font-size: 56px;
	font-family: var(--secondary-font-family);
	text-align: center;
}

.card {
	display: flex;
    gap: 40px;
    height: 550px;
}

.card-list {
	min-height: 100%;
    display: flex;
    flex-direction: column;
    flex: 2;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: var(--box-shadow);
    background-color: var(--background-color);
}

.card-title {
	color: var(--special-text);
    font-weight: bolder;
    font-size: 22px;
    text-indent: 25px;
    width: 100%;
    border-radius: 15px;
    padding: 20px 0px;
    transition: background-color 0.5s ease;
	/* background: linear-gradient(90deg, #7a1fa2, #eb3f7a);
    -webkit-background-clip: text;
	background-clip: text;
    -webkit-text-fill-color: transparent;
	text-fill-color: transparent; */
}

.card-title:hover {
	background: var(--gradient-color);
}

.card-images {
	flex: 6;
	border-radius: 15px;
	overflow: hidden;
	position: relative;
}

.card-images img {
	position: absolute;
    left: 100%;
	width: 100%;
	height: 100%;
	object-fit: cover;
    opacity: 0;
    transition: all 0.5s ease-in;
}

.card-images img.active {
	left: 0%;
	opacity: 1;
}

/* courses section ends */

/* testimonials section starts */
.testimonials {
	padding: 60px 0;
	width: 100%;
}

.testimonials__card {
	padding: 30px;
	background-color: var(--nav-bg);
	color: var(--text-color);
	margin: 10px;
	border: 1px solid var(--special-text);
	border-radius: 20px;
}

.testimonials__text {
	font-size: 22px;
}

.testimonials__author {
	font-size: 22px;
	margin-top: 30px;
}
/* testimonials section ends */


/* contact section ends */

.contact {
	width: 100%;
    height: 90vh;
    padding-top: 95px !important;
	scroll-snap-align: start;
}

.contact .main-title {
	color: var(--special-text);
	font-size: 56px;
	font-family: var(--secondary-font-family);
	text-align: center;
}

/* contact section ends */

/* responsive media query */

@media (max-width: 1200px) {
	.home {
		padding: 120px 40px 0px 40px;
	}
}

@media (max-width: 992px) {
	.hero-section {
		flex-direction: column;
	}

	.hero-section .left .special-text {
		font-size: 60px;
		line-height: 120%;
	}

	.hero-section .left .paragraph {
		padding: 0;
	}

	.hero-section .left .paragraph h3 {
		max-width: 560px;
	}

	.hero-section .right .image {
		width: 400px;
		transform: translateY(-10px);
	}

	.hero-section .right .image img {
		max-width: 100%;
		height: auto;
	}
	
	.hero-section .right .image .half-round-shape {
		width: 250px;
    	height: 400px;
	}

	.hero-section .right:hover .image {
		transform: translate(-10%, -10px);
	}

	.item-list {
		gap: 40px;
	}

	.card-images {
		display: none;
	}

	.card {
		height: auto;
	}

	.card-list {
		flex-direction: row;
        justify-content: flex-start;
        gap: 20px;
        flex-wrap: wrap;
        background: none;
        box-shadow: none;
        padding: 20px;
	}

	.card-title {
		width: 140px;
		text-indent: 0px;
		text-align: center;
    	padding: 20px 30px;
    	border-radius: 15px;
    	box-shadow: var(--box-shadow);
    	background-color: var(--background-color);
	}
}

@media screen and (max-width: 768px) {
	.hero-section .left .special-text {
		font-size: 52px;
	}

	.skill .main-title, 
	.courses .main-title,
	.contact .main-title {
		font-size: 48px;
	}
}

@media screen and (max-width: 600px) {
	.item.desktop {
		display: none;
	}
	.item.mobile {
		display: flex;
	}
}

@media screen and (max-width: 500px) {
	.hero-section .left .special-text {
		font-size: 42px;
	}

	.skill .main-title, 
	.courses .main-title,
	.contact .main-title {
		font-size: 36px;
	}

	.hamburger-menu {
		padding: 0 20px;
	}
}